
<div class="container-home">
    <div class="container-generator">
        <h1 class="logo">Persona</h1>
        Ever wanted to talk to a celebrity or historical figure like Elon Musk, Mahatma Ghandi or Leonardo Davinci ? Now is your chance to talk to the legends, or create your own Chatbot personalities.
        <br>
        Register for your free trial account now, or login if you already have one.
    </div>
</div>

<h1></h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flashes">
    {% for message in messages %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="username-input" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="password-input" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-login">
                <a href="/register" class="button-register">REGISTER</a>
            </div>
        </form>
    </div>
