<div class="menu">
    <a href="/">Home</a>

    {% if current_user.is_authenticated %}

    <a href="/chatbot_browser">Pick a Chatbot</a>

    <a href="/bot_generator">Chatbot Generator</a>
    <a href="/settings">Settings</a><a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
    {% if current_user.role == 'admin' %}
        <a href="/admin" class="btn btn-primary">Admin Pages</a>
    {% endif %}
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Service</a>
</div>
