{% extends "base.html" %}
{% block content %}
<html>
  <link rel="stylesheet" href="/static/css/styles.css">

<body>
    <div class="container-base">
            <div class="messages">
                <div class="ai">
                    <div class="speech-bubble ai">
                      <h1>Privacy Policy</h1>
                      <p>We value your privacy and are committed to protecting your personal information. We will not sell or distribute your information to any third parties without your consent.</p>
                      </div>
                </div>
            </div>
    </div>
</body>

{% endblock %}