{% extends 'base.html' %}

{% block content %}



<div class="container-home">

        {% if current_user.is_authenticated %}
    <div class="container-generator">
        <h1 class="logo">Persona Super Chat</h1>
        <br>
        Welcome back, {{ current_user.name }}!<br>
        <br>
        Welcome to Persona, your gateway to captivating conversations with famous personas from throughout history! Immerse yourself in our vast library of chatbots, each designed to simulate the wit, wisdom, and charm of renowned figures. Whether you want to discuss philosophy with Socrates, share a laugh with Charlie Chaplin, or seek advice from Maya Angelou, our chatbots bring these iconic personalities to life.
        <br>
        <br>
        Creating your own bot is as easy as typing the name of a celebrity or historical figure. Our AI instantly generates a fitting image, making the experience even more immersive. You can favorite, rate, and tag bots based on their performance and unique traits. Explore our comprehensive bot database, filtered by popularity, ratings, and tags, to discover the most intriguing personas.
        <br>
        <br>
        As a newly registered user, you receive a free trial of 100 chat responses. This allows you to engage in meaningful conversations and truly experience the magic of Persona. To continue supporting our service and gain unlimited chat responses, please visit our subscription information page. Join us at Persona and embark on an extraordinary journey of conversation and discovery with the most fascinating figures in history!
    </div>
    {% else %}
    <div class="speech-bubble ai">
        Welcome to IlonaChat<br>
        Please login or register.
    </div>

    <h1></h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <a href="/register">Register</a>
    {% endif %}
</div>

{% endblock %}
