<!-- in templates/settings_navbar.html -->

<div class="container-settings-menubuttons">
    <button type="button" class="button-settings" onclick="window.location.href='/settings_account'">Account</button>
    <button type="button" class="button-settings" onclick="window.location.href='/settings_profile_view'">Profile</button>
    <button type="button" class="button-settings" onclick="window.location.href='/settings_password'">Password</button>
    <button type="button" class="button-settings" onclick="window.location.href='/settings_api'">API keys</button>
    <button type="button" class="button-settings" onclick="window.location.href='/settings_sub'">Premium</button>
</div>