{% extends "base.html" %}
{% block content %}
<div class="container-home">
    <div class="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashes">
            {% for message in messages %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="content">
          <p>
            Current OpenAI API Key: <br>
            {{ current_user.openai_api_key or 'NONE SAVED' }}<br>
            <br>
            <label class="label" for="openai_api_key">OpenAI API Key</label><br>
            <input id="openai_api_key" name="openai_api_key" type="text" value="{{ form.openai_api_key.data }}" class="input"><br>
          </p>
        </div>
        <div class="content">
          <p>
            <br>
            Current GCloud API Key: {{ current_user.gcloud_api_key or 'NONE SAVED' }}<br>
            <br>
            <label class="label" for="gcloud_api_key">GCloud API Key</label><br>
            <input id="gcloud_api_key" name="gcloud_api_key" type="text" value="{{ form.gcloud_api_key.data }}" class="input"><br>
          </p>

          <p>
            <br>
            Current TTS Engine: {{ current_user.tts_engine or 'NONE SAVED' }}<br>
            <select id="tts_engine" name="tts_engine" value="{{ form.tts_engine.data }}" class="input">
              <option value="">Select an option</option>
              <option value="webspeech">Webspeech (local/free)</option>
              <option value="gcloud">Google Cloud (paid) $</option>
              <option value="11labs">11 Labs (paid) $$</option>
            </select>
            <br>
          </p>
          <p>
            <br>
            <label class="label" for="speech_enabled">Speech Enabled</label><br>
            <input type="checkbox" id="speech_enabled" name="speech_enabled" value="true" {{ 'checked' if form.speech_enabled.data else '' }}>
          </p>
          <p>
            <button type="submit" class="button">Save Changes</button>
          </p>
      </form>
      <form action="{{ url_for('main.settings') }}" method="get">
        <button type="submit" class="delete-button">Cancel Changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
